<h1>URL Shortener</h1>
<% @links.each do |link| %>
	<div class="well">
		<h5>Original URL => <%= link.original %></h5>
		<h5>Short&nbsp&nbsp&nbsp&nbsp&nbspURL => <%= link.short %></h5>
	</div>
	<% end %>
