<h1>URL Shortener</h1>
<% @links.each do |link| %>
	<div class="well">
		<h5>Original URL => <%= link.original %></h5>
    <h5><%= my_link_to(link.get_shorty) %></h5>
    <p> Short URL <%= link.custom? %> </p>
	</div>
	<% end %>
