<%= form_for @link, remote: true do |l| %>
  <table style="width:100%">
    <tr>
      <td><%= l.text_field(:original, {:class => 'form-control'}) %></td>
      <td>&nbsp</td>
      <td><%= l.submit "Short", id: "shorten" %> </td>
    </tr>
  </table>
<% end %>
<div id="shortsection">
  <textarea rows="1" cols="45" readonly id="bar"></textarea>
   <button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#bar">
     Copy
   </button>
</div>
<script>
$(document).ready(function(){
  var clipboard = new Clipboard('.clipboard-btn');
  console.log(clipboard);
});
</script>

