<h2>Original URL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @link.original %></h2>
<p> Short URL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= my_link_to(@link.get_shorty) %>   </p>
<p> Short URL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @link.custom? %>   </p>
